.Robo-Toy {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
    height: 113px;
    width: 80px
  }

  .Robo-Toy-logo-North {
    height: 113px;
    width: 80px;
    transform: rotate(180deg);
  }

  .Robo-Toy-logo-South {
    height: 113px;
    width: 80px;
  }

  .Robo-Toy-logo-East {
    height: 113px;
    width: 80px;
    transform: rotate(270deg);
  }

  .Robo-Toy-logo-West {
    height: 113px;
    width: 80px;
    transform: rotate(90deg);
  }

.tableData {
    padding: 8px;
    align-items: center;
}

.CellData {
    align: center;
    border-style: solid;
    background-color: lightgrey;
    border-radius: 5px;
    height: 180px;
    width: 150px;
    padding: 25px;
}